@mixin chip($bgColor, $borderRadius) {
  padding: 4px 19px;
  border: 2px solid var(--white, #fffeff);
  border-radius: $borderRadius;
  background: $bgColor;
  color: var(--white, #fffeff);
  text-transform: uppercase;
  @content;
}

@mixin flex-centered($direction: column) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin portal-blocks($index) {
  @include flex-centered;

  position: fixed;
  z-index: $index;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100svh;
  pointer-events: none;
  @content;
}

@mixin hover {
  &:not([disabled]):hover {
    @content;
  }
}

@mixin active {
  &:not([disabled]):active {
    @content;
  }
}
