:root {
  --blue: #6f53fd;
  --purple: #9c59fe;
  --white: #fffeff;
  --light-blue: #4cdafe;
  --light-pink: #fc8aff;
  --light-purple: #c286ff;
  --light-yellow: #ffdd17;
  --border-blue: #09b9ff;
  --border-pink: #da57f0;
  --border-purple: #a75cf4;
  --border-yellow: #ffb213;
  --border-gray: #d9d8d9;
}
