#app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100svh;
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    var(--purple, #9c59fe) 0%,
    var(--blue, #6f53fd) 100%
  );
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  overflow-x: hidden;
}

[hidden='true'] {
  display: none;
  visibility: hidden;
}
