@import 'src/ui/styles/core/mixins';

.header {
  height: 86px;
  padding: 12px 22px;

  &__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__profile-chip {
    @include chip(var(--border-blue, #09b9ff), 12px) {
      font-size: 18px;
    };
  }
  
  &__level-chip {
    @include chip(_, 12px) {
      font-size: 18px
    };
  }
}
