@import 'src/ui/styles/core/mixins';

$buttons-width: 500px;
$buttons-height: 244px;
$gap: 12px;
$big-button-area: big-button;
$lock-icon-size: 36px;

.main-menu {
  @include flex-centered(row);

  height: 100%;
  gap: $gap;

  &__container {
    display: grid;
    width: calc($buttons-width * 2);
    max-height: $buttons-height;
    gap: $gap;
    grid-template-areas: 
      "#{$big-button-area} . ."
      "#{$big-button-area} . .";
    grid-template-columns: 2fr 1fr 1fr;
  }

  &__button {
    position: relative;
    height: 100%;
    padding: 24px;
    border: 3px solid var(--white, #fffeff);
    border-radius: 6px;
    background: var(--light-purple, #c286ff);
    box-shadow: 0 4px 8px 0 rgb(34 60 80 / 20%);
    color: white;
    font-size: 24px;
    text-align: center;
    transition: transform 0.1s ease;

    @include hover {
      background: var(--border-pink, #da57f0);
      cursor: pointer;
      transform: scale(1.01);
    }

    @include active {
      transform: scale(0.99);
    }
  }

  .button {
    &_big {
      width: calc($buttons-width - $gap);
      height: $buttons-height;
      grid-area: $big-button-area;
    }

    &__locked-container {
      @include flex-centered;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(0 0 0 / 55%);

      svg {
        z-index: 2;
        width: $lock-icon-size;
        height: $lock-icon-size;

        path {
          fill: var(--white, #fffeff);
        }
      }
    }
  }
}